  .Spinner {
  position: absolute;
  z-index: 11;
  transform: rotate(0deg);
  background: url(../spinner.png);
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  animation: spin 1.75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) scale(1);  }
  60% {transform: rotate(180deg) scale(.8);}
  100% { transform: rotate(360deg) scale(1);  }
}