<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Video Recorder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style></style>
</head>

<body>


  <main>
    <p>
      <button id="btnStart">RECORD</button>
    </p>
    <p>
      <button id="btnStop">STOP</button>
    </p>
    <video controls></video>
    <video id="vid2" controls></video>
  </main>


  <script>
    let constraintObj = {
      audio: true,
      video: {
        facingMode: 'user',
        width: {
          min: 640,
          ideal: 1280,
          max: 1920
        },
        height: {
          min: 480,
          ideal: 720,
          max: 1080
        }
      }
    }
    if (navigator.mediaDevices === undefined) {
      console.log('No Camera or Microphone detected.');
      ;
    } else {
      navigator.mediaDevices.enumerateDevices()
      .then(devices => { SOMETHING })
      .catch(err => console.log(err.name, err.message))
    }

    navigator.mediaDevices.getUserMedia(constraintObj)
    .then(mediaStreamObj => {
      //connect the media stream to the first video element
      let video = document.querySelector('video');
      if('srcObject' in video) {
        video.srcObject = mediaStreamObj;
      } else {
        //old version
        video.src = window.URL.createObjectURL(mediaStreamObj);
      }
      video.onloadedmetadata = function(ev) {
        //show in the video element what is being captured b the webcam
        video.play();
      };

      let start = document.getElementById('btnStart');
      let stop = document.getElementById('btnStop');
      let vidSave = document.getElementById('vid2');
      let mediaRecorder = new MediaRecorder(mediaStreamObj);
      let chunks = [];

      start.addEventListener('click', (ev)=>{
        mediaRecorder.start();
        console.log(mediaRecorder.state);
        
      });
      stop.addEventListener('click', (ev)=>{
        mediaRecorder.stop();
      });
      mediaRecorder.ondataavailable = function(ev) {
        chunks.push(ev.data);
      };
      mediaRecorder.onstop = ev=>{
        let blob = new Blob(chunks, {
          'type': 'video/mp4'
        });
        chunks = [];
        let videoURL = window.URL.createObjectURL(blob);
        vidSave.src = videoURL;
      };
    })
    .catch(function(err){
      console.log(err.name, err.message);
    });
     // getUserMedia returns a Promise


  </script>
</body>

</html>